<div class="form-wrapper">

  <!-- completed form -->

  <div *ngIf="viewComplitedForm">

    <form>

      <h3 class="mb-4">Book Info</h3>

      <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" id="author" value="{{book.author}}" disabled>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" value="{{book.title}}" disabled>
      </div>

      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input class="form-control" id="isbn" value="{{book.isbn}}" disabled>
      </div>

      <div class="form-group">
        <label for="pages">Number of Pages</label>
        <input class="form-control" id="pages" value="{{book.pages}}" disabled>
      </div>

      <div class="form-group">
        <label for="format">Format</label>
        <input class="form-control" id="format" value="{{bookFormat}}" disabled>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" disabled>{{book.description}}</textarea>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" id="price" value="{{book.price}}" disabled>
      </div>

    </form>

  </div>

  <!-- blank form -->

  <div *ngIf="viewEmptyForm">

    <form [formGroup]="newBookForm" (ngSubmit)="submit()">

      <h3 class="mb-4">Book Info</h3>

      <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" id="author" autocomplete="off" formControlName="author">
        <div *ngIf="formErrors.author" class="error">
          {{ formErrors.author}}
        </div>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" formControlName="title" autocomplete="off">
        <div *ngIf="formErrors.title" class="error">
          {{ formErrors.title}}
        </div>
      </div>

      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input class="form-control" id="isbn" formControlName="isbn" autocomplete="off">
        <div *ngIf="formErrors.isbn" class="error">
          {{ formErrors.isbn}}
        </div>
      </div>

      <div class="form-group">
        <label for="pages">Number of Pages</label>
        <input class="form-control" id="pages" formControlName="pages" autocomplete="off">
        <div *ngIf="formErrors.pages" class="error">
          {{ formErrors.pages}}
        </div>
      </div>

      <div class="form-group">
        <label for="format">Format</label>
        <select class="form-control" id="format" formControlName="formatId">
          <option *ngFor="let format of formats" [ngValue]="format.name">{{format.name}}</option>
        </select>
        <div *ngIf="formErrors.formatId" class="error">
          {{ formErrors.formatId}}
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description" required></textarea>
        <div *ngIf="formErrors.description" class="error">
          {{ formErrors.description}}
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" id="price" formControlName="price" autocomplete="off">
        <div *ngIf="formErrors.price" class="error">
          {{ formErrors.price}}
        </div>
      </div>

      <hr class="m-1 mb-5 mt-5">

      <h3 class="mb-4">Publisher Info</h3>

      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="country" formControlName="countryId">
          <option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
        </select>
        <div *ngIf="formErrors.countryId" class="error">
          {{ formErrors.countryId}}
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" id="city" formControlName="cityId">
          <option *ngFor="let city of cities" [ngValue]="city.name">{{city.name}}</option>
        </select>
        <div *ngIf="formErrors.cityId" class="error">
          {{ formErrors.cityId}}
        </div>
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" id="company" formControlName="companyId">
          <option *ngFor="let company of companies" [ngValue]="company.name">{{company.name}}</option>
        </select>
        <div *ngIf="formErrors.companyId" class="error">
          {{ formErrors.companyId}}
        </div>
      </div>

      <!-- <button type="submit" [disabled]="!newBookForm.valid" class="btn btn-primary mt-4">Добавить</button> -->
      <button type="submit" class="btn btn-primary mt-4">Add new book</button>
    </form>

  </div>

</div>